:root {

    /* Кольори тексту */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-title-color: #ffffff;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    /* Кольори фону */
    --background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --third-background-color: #2f303a;

    /* Акцентні кольори */
    --accent-color: #2196f3;
    --accent-color-focus: #188ce8;

    /* Інше */

    --items: 4;
    --indent: 30px;
    
}


body {
    background-color: var(--background-color);
    color: var(--primary-text-color);

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;


}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.list,
.footer-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* reset */

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Сітка із застосуванням Flex-box */

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
    margin: calc(var(--indent) / 2);
    flex-basis: calc((100% - (var(--indent))*var(--items)) / var(--items));
}


/* Шапка сторінки */

.header-container {
    display: flex;
    align-items: center;
}


.header {
    background-color: var(--background-color);
    outline: 1px solid #ECECEC;
}

.logo {
    margin-right: 93px;
    color: var(--title-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-accent {
    color: var(--accent-color);
}

/* Навігація на інші сторінки */

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

/* АКЦЕНТНІ ЛІНІЇ */


.current-link {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--accent-color);
}

.current-link::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
}

/* Контакти */

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list-item:not(:last-child) {
    margin-right: 50px;
}

.contact-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.icon-mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
}

.icon-phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: currentColor;
}

/* Унікальний контент сторінки(main) */

/* Секція Герой */

.section.hero {

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/Img.jpg');

    padding: 200px 0;
    background-color: var(--third-background-color);
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;

    color: var(--secondary-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    font-family: inherit;
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color-focus);
}



/* Секція Переваги */

.benefits-list-item::before {
    display: block;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits-list-item.icon-antenna::before {
    background-image: url(../images/icons/antenna.svg);
}

.benefits-list-item.icon-clock::before {
    background-image: url(../images/icons/clock.svg);
}

.benefits-list-item.icon-diagram::before {
    background-image: url(../images/icons/diagram.svg);
}

.benefits-list-item.icon-astronaut::before {
    background-image: url(../images/icons/astronaut.svg);
}

.benefits-title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text {

    line-height: 1.71;
}

/* Секція Наша робота */

.section.job {
    padding-top: 0;
}


.section-title {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.job-list {
    --items: 3;
}

/* ЯРЛИКИ */

.job-card{
    position: relative;
    z-index: -1;
}


.title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}


/* Секція Наша команда */

.section.team {
    background-color: var(--secondary-background-color);
}


.team-list-item {

    text-align: center;
}

.card {

    background-color: var(--secondary-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-content {

    padding: 30px 0;
}

.team-member {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
}

.networks-list {
    display: flex;

    justify-content: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    color: #afb1b8;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.social-icon {
    fill: currentColor;
}



/* Cекція Постійні клієнти */

.clients-list {
    --items: 6;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.clients-icon {
    fill: currentColor;
}

/* Підвал */

.footer {
    padding: 60px 0;
    background-color: var(--third-background-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}


.social-container {
    display: inline-block;
    margin-left: 70px;
}


.footer-form {
    margin-left: 93px;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;

    color: var(--secondary-title-color);
}

/* Адреса */

.footer-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.address.map {
    color: var(--secondary-title-color);
    font-style: normal;
    line-height: 1.71;
}

.address-contact {
    color: var(--footer-text-color);

    font-style: normal;
    line-height: 1.71;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contact:hover,
.address-contact:focus {
    color: var(--accent-color);
}

.footer-title {

    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}


.footer-social-link {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

.footer-social-icon {
    fill: currentColor;
}

/* Форма */

.subscribe {
    display: flex;
}


.label-title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--secondary-title-color);
}

.footer-input {
    padding-left: 30px;
    background-color: inherit;

    width: 358px;
    height: 50px;

    /* color: #FFFFFF; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.button-submit {
    display: inline-flex;
    align-items: center;
    text-align: center;

    margin-left: 12px;
    padding: 10px 29px;
    border-radius: 4px;
    border: none;
    min-width: 200px;


    color: var(--secondary-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.icon-send {
    margin-left: 10px;
    fill: currentColor;
}


/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    padding: 0;
    right: 8px;
    top: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/* Форма */

.form-action {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    margin-bottom: 16px;
    margin-top: 0;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-text-color);
}

.form-list {
    display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 0;
        padding: 0;
        width: 100%;
}

.form-item {
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
}

.form-item:not(:last-child) {
margin-bottom: 10px;
}

.input {
height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;

    cursor: pointer;
}

.input-icon {
    position: absolute;
        top: 50%;
        left: 12px;
    
        width: 18px;
        height: 18px;
    
        transition: fill 250ms var(--timing-function)
}

.input:focus+.input-icon {
    fill: var(--accent-color);
}

.input:focus,
.form-item textarea:focus {
    outline: none;
        border: 1px solid var(--accent-color);
}

.label {
    margin-bottom: 4px;
    
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    
        color: var(--primary-text-color)
}

.form-item textarea::placeholder {
    font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
}

textarea {
    resize: none;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.checkbox {
    
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* .icon-span {
    display: inline-block;
    width: 16px;
    height: 15px;

    margin-right: 7px;

    border: 2px solid var(--title-text-color);
    border-radius: 4px;
} */

/* .checkbox:checked+.icon-span {
    background-color: var(--accent-color);
    background-image: url('../images/form/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    background-repeat: no-repeat;
} */

.label-check {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    line-height: 1.71;
    color: var(--primary-text-color);
}

.agreement-link {
    display: inline;
    color: var(--accent-color);
    margin-left: 3px;
}

.submit-button {
    padding: 10px 55px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Секція Портфоліо */

/* Кнопки */

.portfolio-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.button-list-item:not(:last-child) {
    margin-right: 8px;
}

.button-list {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.button-list:hover,
.button-list:focus {
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}


.button-list.active {
    background-color: var(--accent-color);
    color: var(--secondary-title-color);
}

.projects-title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-text {

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.projects-list {
    --items: 3;
}

.projects-list-item {
    border: 1px solid rgba(238, 238, 238, 1);
}

.img-content {
    padding: 20px 24px;
}

.projects-link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.projects-link:hover,
.projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Оверлей */

.img-card {
    position: relative;
    overflow: hidden;
}

.projects-overlay {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .projects-overlay {
    transform: translateY(0);
}

.overlay-text {
    display: block;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}